<!DOCTYPE html>
<html>
  <head>
    <title>Today's Date</title>
  </head>
  <body>
    <% require 'date' %>
    <% todays_date =  DateTime.new %>
    <p><%= "The date is #{todays_date}" %></p>
  </body>
</html>